@font-face {
    font-family: Suisse;
    font-weight: 500;
    src: url('SuisseIntl-Book.woff'), url('SuisseIntl-Book.woff2');
}

@font-face {
    font-family: Suisse;
    font-weight: normal;
    src: url('SuisseIntl-Regular.woff'), url('SuisseIntl-Regular.woff2');
}

@font-face {
    font-family: Suisse;
    font-weight: 600;
    src: url('SuisseIntl-SemiBold.woff'), url('SuisseIntl-SemiBold.woff2');
}

@font-face {
    font-family: Suisse;
    font-weight: bold;
    src: url('SuisseIntl-SemiBold.woff'), url('SuisseIntl-SemiBold.woff2');
}

@font-face {
    font-family: Suisse;
    font-weight: 900;
    src: url('SuisseIntl-Black.woff'), url('SuisseIntl-Black.woff2');
}
